*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border:0;
  text-align: center;
}

header{
  width: 100%;
  height: 20vh;
  background-color:aqua;
}

main{
  width: 100%;
  height: 65vh;
  display: flex;
}

.conteudo{
  width: 50%;
  height:100%;
  background-color:rebeccapurple;
}

aside{
  width: 25%;
  height:100%;
  background-color:sandybrown;
}

nav{
  width: 25%;
  height:100%;
  background-color:orange;
}

footer{
  width: 100%;
  height: 15vh;
  background-color:aqua;
}


@media screen and (max-width: 668px) {
  header{
    height:10vh;
  }

  main{
    height:100%;
    flex-direction: column-reverse;
  }

  .conteudo{
    width: 100%;
    height:50vh;
  }
  
  aside{
    width: 100%;
    height:25vh;
  }
  
  nav{
    width: 100%;
    height:25vh;
  }

  footer{
    height:10vh;
  }
}